"use strict";

/* From main.js */

/* From i18n.js */

/* From pages/Layout.js */

/* From pages/Home.js */

/* From pages/Blogs.js */

/* From pages/Contact.js */

/* From pages/NoPage.js */

/* From components.js */
