// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$white: #ffffff;

$theme-colors: (
    "light":      #d4cac0,
    "dark":       #1f2f50,
    "primary":    #212730,
    "secondary":  #30353e,
    "info":       #76abae,
    "success":    #39945e,
    "warning":    #dec73e,
    "danger":     #e72423,
);

$primary:       map-get($theme-colors, "primary");
$secondary:     map-get($theme-colors, "secondary");
$success:       map-get($theme-colors, "success");
$info:          map-get($theme-colors, "info");
$warning:       map-get($theme-colors, "warning");
$danger:        map-get($theme-colors, "danger");
$light:         map-get($theme-colors, "light");
$dark:          map-get($theme-colors, "dark");

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$a4Size300DPIPxWidth: 2480;
$a4Size300DPIPxHeight: 3508;
$marginSize: 96px; // 2.54cm
$defaultScreenWidth: 1280px;
$iconSize: 24px;

$custom-color-1: #CDE8E5;
$custom-color-2: #EEF7FF;
$custom-color-3: #7AB2B2;
$custom-color-4: #4D869C;

:root {
	--bs-body-font-family: Arial, "Helvetica Neue", Helvetica, system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header.navbar {
	left: unset;
}

#main-container .a4-container {
	padding: 3rem 0;
}

.a4-container {
  page-break-inside: auto;
}

p, li, h2, h3, h4, h5, h6 {
  page-break-inside: avoid;
  page-break-after: auto;
}

ul, ol {
  page-break-inside: avoid;
}

.container {
  page-break-inside: auto;
}

.a4-container > .container > div {
  page-break-inside: avoid;
  page-break-after: auto;
}

@media (max-width: $defaultScreenWidth) and (min-width: $defaultScreenWidth) {
	.a4-container {
		aspect-ratio: calc($a4Size300DPIPxWidth / $a4Size300DPIPxHeight);
	}

	#main-container .a4-container {
		padding: $marginSize;
	}
}

.icon {
	width: $iconSize;
	height: $iconSize;
}

.home-page {
	scroll-snap-type: y mandatory;
}

.home-page .row {
	scroll-snap-align: start;
}

.custom-bg-color-1 {
	background-color: $custom-color-1;
}

.custom-bg-color-2 {
	background-color: $custom-color-2;
}

.custom-bg-color-3 {
	background-color: $custom-color-3;
}

.custom-bg-color-4 {
	background-color: $custom-color-4;
}

.custom-text-color-1 {
 color: $custom-color-1;
}

.custom-text-color-2 {
	color: $custom-color-2;
}

.custom-text-color-3 {
	color: $custom-color-3;
}

.custom-text-color-4 {
	color: $custom-color-4;
}

@media (min-width: 768px) {
	.w-md-container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.w-md-container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.w-md-container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.w-md-container {
		max-width: 1320px;
	}
}
